.nav {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background: var(--color-botton-nav-bg-primary);
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

.nav__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: none;
    border: 0;
    font-size: .8rem;
    color: var(--color-botton-nav-font-primary);
}

.nav__button:hover {
    color: var(--color-botton-nav-font-primary-hover);
}

.nav__button--active {
    padding: .25rem .5rem;
    border-radius: 5px;
    background-color: var(--color-botton-nav-bg-active);
    color: var(--color-botton-nav-font-primary-active);
}