/* calendar */
.react-calendar {
    width: 350px;
    max-width: 100%;
    background: var(--color-calendar-bg-primary);
    border: 0px var(--color-calendar-border-primary);
    border-radius: 10px;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    font-family: 'Rubik', sans-serif;
    margin: 2px 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation__label {
    font-weight: 200;
}

.react-calendar__navigation button {
    font-weight: 600;
    min-width: 44px;
    background: none;
    color: var(--color-calendar-button-navigation);
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    border-radius: 5px;
    background-color: var(--color-calendar-button-navigation-hover-focus);
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    color: var(--color-calendar-weekdays);
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__month-view__days__day {
    color: var(--color-calendar-days-month);
}

.react-calendar__month-view__days__day--weekend {
    color: var(--color-calendar-days-weekend);
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: var(--color-calendar-days-neighboring-month);
}

.react-calendar__year-view__months__month {
    color: var(--color-font-secondary);
}
.react-calendar__decade-view__years__year {
    color: var(--color-calendar-font-primary);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    border-radius: 5px;
    background-color: var(--color-calendar-title-hover-focus);
}

.react-calendar__tile--now {
    border-radius: 5px;
    background: var(--color-calendar-title-now-bg);
    color: var(--color-calendar-title-now-font);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: var(--color-calendar-title-now-bg-hover-focus);
}


.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    background: var(--color-calendar-title-active);
    color: white;
    border-radius: 5px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: var(--color-calendar-title-active);
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}