@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import "./calendar.css";
@import "./select.css";
@import "./datePicker.css";

:root {
    /* raw colors variables */
    --primary: #88c0d0;

    --white-01: #eceff4;
    --white-02: #dadee3;
    --white-03: #d8dee9;
    --white-04: #d1d5db;
    --white-05: #c8ccd2;

    --gray-01: #232730;
    --gray-02: #2e3440;
    --gray-03: #3b4252;
    --gray-04: #434c5e;
    --gray-05: #4c566a;

    --blue-01: #AFC0D6;
    --blue-02: #9BB0CC;
    --blue-03: #87A1C1;
    --blue-04: #7291B7;
    --blue-05: #5E81AC;

    --cyan-01: #8FBCBB;
    --cyan-02: #86B0AF;
    --cyan-03: #7DA5A4;
    --cyan-04: #749998;
    --cyan-05: #6B8D8C;

    --red-01: #EFD8DA;
    --red-02: #DCACAD;
    --red-03: #bf616a;
    --red-04: #B65354;
    --red-05: #A32727;

    --yellow-01: #EBCB8B;
    --yellow-02: #E4BA84;
    --yellow-03: #DEA97E;
    --yellow-04: #D79877;
    --yellow-05: #D08770;

    --gold-01: #AC9970;
    --gold-02: #938054;
    --gold-03: #796D54;

    --green-01: #A3BE8C;
    --green-02: #90AB7A;
    --green-03: #7D9768;
    --green-04: #6A8455;
    --green-05: #577043;

    --mobile-botton-navigation-height: 3rem;
}

/* Composed colors based on theme */
[data-theme="light"] {
    /* backgrounds */
    --color-bg-primary: var(--white-01);
    --color-bg-secondary: var(--white-04);

    /* fonts */
    --color-font-primary: var(--gray-05);
    --color-font-secondary: var(--blue-05);
    --color-font-light: var(--white-03);
    --color-font-dark: var(--gray-05);

    /* logos */
    --color-logo-primary: var(--blue-04);
    --color-logo-secondary: var(--gray-05);

    /* buttons */
    --color-button-bg-primary: var(--primary);
    --color-button-bg-secondary: var(--white-05);
    --color-button-bg-disabled: var(--gray-05);

    /* outline */
    --color-button-border-outline: var(--gray-05);
    --color-button-font-outline: var(--gray-05);
    --color-button-border-outline-hover: var(--primary);
    --color-button-font-outline-hover: var(--primary);

    /* bottom navigation */
    --color-botton-nav-bg-primary: var(--white-02);
    --color-botton-nav-font-primary: var(--gray-05);
    --color-botton-nav-font-primary-hover: var(--primary);
    --color-botton-nav-font-primary-active: var(--blue-05);

    /* inputs */
    --color-input-bg-primary: var(--white-01);
    --color-input-border-primary: var(--blue-01);
    --color-input-border-focus-primary: var(--blue-05);
    --color-input-font-primary: var(--gray-05);
    --color-input-placeholder-primary: var(--white-05);

    /* value inputs */
    --color-value-input-font-primary: var(--blue-05);
    --color-value-input-font-secondary: var(--white-05);
    --color-value-input-border-value: var(--blue-05);

    /* header */
    --color-header-icons-primary: var(--gray-01);

    /* loader & spinner */
    --color-loader-bg-primary: var(--white-02);
    --color-spinner-primary: var(--blue-05);

    /* card */
    --color-card-border: var(--white-05);

    /* balance-history-chart */
    --color-balance-history-chart-subtitle: var(--white-05);

    /* calendar */
    --color-calendar-font-primary: var(--white-05);
    --color-calendar-bg-primary: var(--white-02);
    --color-calendar-border-primary: var(--blue-05);
    --color-calendar-weekdays: var(--blue-02);
    --color-calendar-days-weekday: var(--gray-05);
    --color-calendar-days-weekend: var(--red-03);
    --color-calendar-days-month: var(--gray-05);
    --color-calendar-days-neighboring-month: var(--gray-05);
    --color-calendar-button-navigation: var(--blue-03);
    --color-calendar-button-navigation-hover-focus: var(--white-05);
    --color-calendar-title-active: var(--green-03);
    --color-calendar-title-hover-focus: var(--white-05);
    --color-calendar-title-now-bg: var(--blue-05);
    --color-calendar-title-now-bg-hover-focus: var(--blue-03);
    --color-calendar-title-now-font: var(--white-03);
    --color-calendar-year-view-month-color: var(--white-05);

    /* expense type button */
    --color-expense-type-button-bg-unselected: var(--white-05);

    /* badge */
    --color-badge-primary: var(--gray-02);

    /* expense expensesHistoryTable */
    --color-head-border-botton: var(--blue-03);
    --color-body-border-botton: var(--white-05);


    /* PAGES */
    /* home */
    --color-home-bg-primary: var(--white-02);
    --color-home-bg-secondary: var(--white-01);
    --color-home-monthly-title-primary: var(--gray-05);
    --color-home-monthly-title-secondary: var(--yellow-02);

    /* PAGES */
    /* expenses */
    --color-expenses-bg-primary: var(--white-02);
}

[data-theme="dark"] {
    /* backgrounds */
    --color-bg-primary: var(--gray-02);
    --color-bg-secondary: var(--gray-01);

    /* fonts */
    --color-font-primary: var(--white-01);
    --color-font-secondary: var(--primary);
    --color-font-tertiary: var(--yellow-01);
    --color-font-light: var(--white-03);
    --color-font-dark: var(--gray-05);

    /* logos */
    --color-logo-primary: var(--yellow-01);
    --color-logo-secondary: var(--white-02);

    /* buttons */
    --color-button-bg-primary: var(--primary);
    --color-button-bg-secondary: var(--white-03);
    --color-button-bg-disabled: var(--gray-05);

    /* outline */
    --color-button-border-outline: var(--gray-02);
    --color-button-font-outline: var(--white-03);
    --color-button-border-outline-hover: var(--primary);
    --color-button-font-outline-hover: var(--primary);

    /* bottom navigation */
    --color-botton-nav-bg-primary: var(--gray-01);
    --color-botton-nav-font-primary: var(--white-05);
    --color-botton-nav-font-primary-hover: var(--primary);
    --color-botton-nav-font-primary-active: var(--yellow-01);

    /* inputs */
    --color-input-bg-primary: var(--gray-04);
    --color-input-border-primary: var(--gray-03);
    --color-input-border-focus-primary: var(--blue-03);
    --color-input-font-primary: var(--white-02);
    --color-input-placeholder-primary: var(--gray-02);

    /* value inputs */
    --color-value-input-font-primary: var(--yellow-01);
    --color-value-input-font-secondary: var(--gray-04);
    --color-value-input-border-value: var(--gray-03);

    /* header */
    --color-header-icons-primary: var(--white-02);

    /* loader & spinner */
    --color-loader-bg-primary: var(--gray-01);
    --color-spinner-primary: var(--yellow-01);

    /* card */
    --color-card-border: var(--gray-05);

    /* balance-history-chart */
    --color-balance-history-chart-subtitle: var(--white-05);

    /* calendar */
    --color-calendar-font-primary: var(--white-05);
    --color-calendar-bg-primary: var(--gray-01);
    --color-calendar-border-primary: var(--blue-05);
    --color-calendar-weekdays: var(--blue-02);
    --color-calendar-days-weekday: var(--white-05);
    --color-calendar-days-weekend: var(--red-03);
    --color-calendar-days-month: var(--white-05);
    --color-calendar-days-neighboring-month: var(--gray-05);
    --color-calendar-button-navigation: var(--blue-03);
    --color-calendar-button-navigation-hover-focus: var(--gray-02);
    --color-calendar-title-active: var(--green-03);
    --color-calendar-title-hover-focus: var(--gray-02);
    --color-calendar-title-now-bg: var(--blue-05);
    --color-calendar-title-now-bg-hover-focus: var(--blue-03);
    --color-calendar-title-now-font: var(--gray-02);
    --color-calendar-year-view-month-color: var(--white-05);

    /* expense type button */
    --color-expense-type-button-bg-unselected: var(--white-05);

    /* badge */
    --color-badge-primary: var(--gray-02);

    /* expense expensesHistoryTable */
    --color-head-border-botton: var(--yellow-02);
    --color-body-border-botton: var(--gray-05);

    /* select */

    /* PAGES */
    /* home */
    --color-home-bg-primary: var(--gray-01);
    --color-home-bg-secondary: var(--gray-02);
    --color-home-monthly-title-primary: var(--yellow-01);
    --color-home-monthly-title-secondary: var(--primary);

    /* PAGES */
    /* expenses */
    --color-expenses-bg-primary: var(--gray-01);
    --color-expenses-font-value: var(--yellow-01);
    --color-expenses-calendar-label: var(--gray-04);
    --color-expenses-label: var(--gray-05);
}

body {
    margin: 0;
    background: var(--color-bg-primary);
    transition: all 0.5s ease-in-out;
    color: var(--color-font-primary);
}

*, ::after, ::before {
    box-sizing: border-box;
}