:root {
    /* raw colors variables */
    --primary: #88c0d0;

    --white-01: #eceff4;
    --white-02: #dadee3;
    --white-03: #d8dee9;
    --white-04: #d1d5db;
    --white-05: #c8ccd2;

    --gray-01: #232730;
    --gray-02: #2e3440;
    --gray-03: #3b4252;
    --gray-04: #434c5e;
    --gray-05: #4c566a;

    --blue-01: #AFC0D6;
    --blue-02: #9BB0CC;
    --blue-03: #87A1C1;
    --blue-04: #7291B7;
    --blue-05: #5E81AC;

    --cyan-01: #8FBCBB;
    --cyan-02: #86B0AF;
    --cyan-03: #7DA5A4;
    --cyan-04: #749998;
    --cyan-05: #6B8D8C;

    --red-01: #EFD8DA;
    --red-02: #DCACAD;
    --red-03: #bf616a;
    --red-04: #B65354;
    --red-05: #A32727;

    --yellow-01: #EBCB8B;
    --yellow-02: #E4BA84;
    --yellow-03: #DEA97E;
    --yellow-04: #D79877;
    --yellow-05: #D08770;

    --green-01: #A3BE8C;
    --green-02: #90AB7A;
    --green-03: #7D9768;
    --green-04: #6A8455;
    --green-05: #577043;
}

[data-theme="light"] {
    /* background variables */
    --color-bg-primary: var(--white-01);

    /* font variables */
    --color-font-primary: var(--gray-05);
    --color-font-secondary: var(--blue-05);

    /* logo variables */
    --color-logo-primary: var(--blue-04);
    --color-logo-secondary: var(--gray-05);
}

[data-theme="dark"] {
    /* background variables */
    --color-bg-primary: var(--gray-05);

    /* font variables */
    --color-font-primary: var(--white-01);
    --color-font-secondary: var(--primary);

    /* logo variables */
    --color-logo-primary: var(--yellow-01);
    --color-logo-secondary: var(--white-02);
}

body {
    background: var(--color-bg-primary);
    transition: all 0.25s ease-in-out;
    color: var(--color-font-primary);
}