.main {
    --header-height: 4rem;
}

.header {
    height: var(--header-height);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > button {
    color: var(--color-logo-secondary);
}

.header__title {
    color: var(--color-logo-primary);
    font-weight: 600;
    font-size: 1.25rem;
}

.header__title + span {
    color: var(--color-logo-secondary);
    font-weight: 400;
    font-size: 1.25rem;
}

.section {
    min-height: calc(100vh - var(--header-height) - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign-in > h2 {
    margin-bottom: 0;
    color: var(--color-font-secondary);
}

.sign-in > h3 {
    margin-top: .5rem;
}

.sign-in > span {
    margin: 1rem 0 2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form__input > div:first-child {
    width: 100%;
    margin-bottom: 1rem;
}

.form__buttons {
    display: flex;
    justify-content: space-between;
}
