.main {
    --header-height: 4rem;
}

.header {
    height: var(--header-height);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    color: var(--color-logo-primary);
    font-weight: 600;
    font-size: 1.25rem;
}

.header__title + span {
    color: var(--color-logo-secondary);
    font-weight: 400;
    font-size: 1.25rem;
}

.section {
    min-height: calc(100vh - var(--header-height) - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section > span {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.users {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}