.expenses {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.expenses__wrapper {
    width: 100%;
    max-width: 800px;
}

.expenses-header_container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.expenses-header__title--first {
    font-size: 1.5rem;
    font-weight: 200;
}

.expenses-header__title--second {
    font-size: 1.5rem;
    font-weight: 600;
}

.expenses_container--first {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.expenses_container {
    padding: 0.5rem 1rem 1rem 1rem;
}

.expenses-card__container--md {
    display: flex;
    width: 50%;
}