.incomes {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.incomes__wrapper {
    width: 100%;
    max-width: 800px;
}

.incomes-top__container {
    padding: 1rem 1rem .5rem 1rem;
}

.incomes-header__title--first {
    font-size: 1.5rem;
    font-weight: 200;
}

.incomes-header__title--second {
    font-size: 1.5rem;
    font-weight: 600;
}

.incomes-value__row {
    display: flex;
}

.incomes-calendar__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.incomes-calendar__container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.incomes-calendar__label {
    padding-top: .5rem;
    margin-left: .25rem;
    font-size: .85rem;
    color: var(--color-expenses-calendar-label);
}

.incomes-bottom__container {
    padding: .5rem 1rem 1rem 1rem;
}

.incomes-value__container {
    display: flex;
    flex-direction: column;
}

.incomes-type-selector__container {}

.incomes-type-selector__wrapper {
    align-items: flex-end;
    margin-bottom: 0;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5rem;
}

.incomes__label {
    margin-top: .5rem;
    font-size: .85rem;
    color: var(--color-expenses-label);
}

.incomes__label--error {
    margin-top: .5rem;
    font-size: .85rem;
    color: #B65354;
}

.incomes-description__container {
    margin-top: 1rem;
    padding-bottom: .5rem;
}

.incomes-register__container {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.incomes-register__wrapper {
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .incomes-type-selector__wrapper {
        height: 3rem;
    }
}