.home {
    height: 100%;
}

.home-chart {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    background: var(--color-home-bg-primary);
}

.home-chart__container {
    margin: 0 2rem 2rem 2rem;
}

.home-chart__title {
    margin: 0 0 1rem 0;
}

.home-chart__title--first {
    font-weight: 200;
    font-size: 1.5rem;
}

.home-chart__title--second {
    font-weight: 600;
    font-size: 1.5rem;
}

.home-chart__balance {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--green-01);
}

.home-chart__graph {
    padding: 0 2rem 1rem 2rem;
    height: 15rem;
}

.home-chart__graph-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-monthly {
    padding: 1rem 2rem;
    background: var(--color-home-bg-secondary);
}

.home-monthly__title-container {
    margin: 0 0 1rem 0;
}

.home-monthly__title {
    padding: 0 0 1rem 0;
}

.home-monthly__title--first {
    color: var(--color-home-monthly-title-primary);
    font-size: 1.5rem;
    font-weight: 600;
}

.home-monthly__title--second {
    font-size: 1.5rem;
    font-weight: 200;
}

.home-monthly__graph-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.home-monthly__graph-container--no-content {
    padding: 4rem 0;
    font-size: 1.25rem;
    font-weight: 200;
    color: var(--color-home-monthly-title-primary);
}

.home-monthly__graph {
    width: 10rem;
    height: 10rem;
}

.home-monthly__graph-description--text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-monthly__graph-description--text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.25rem;
}

.home-monthly__graph-description--icons {
    padding-left: .5rem;
}

.home-monthly__target {
    font-weight: 600;
}

.home-monthly__target-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.home-monthly__target-maximum {
    font-weight: 300;
    color: var(--color-home-monthly-title-secondary);
}