.home {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.home__wrapper {
    max-width: 800px;
}

.home__card-container--first {
    display: flex;
    padding-top: .5rem;
}

.home__card-container--sm {
    display: flex;
    width: 25%;
    padding: .5rem 1rem 0.5rem 1rem;
}

.home__card-container--md {
    display: flex;
    width: 50%;
    padding: .5rem 1rem 0.5rem 1rem;
}

.home__card-container--lg {
    padding: .5rem 1rem .5rem 1rem;
}