.incomes-table {
    width: 100%;
    height: 21rem;
    text-align: center;
    border-spacing: 0;
}

.incomes-table > thead > tr > th {
    font-weight: 600;
    height: 35px;
    border-bottom: 1px solid var(--color-head-border-botton);
}

.incomes-table > tbody > tr > td {
    padding: 0 .5rem;
    font-weight: 200;
    height: 30px;
    border-bottom: 1px solid var(--color-body-border-botton);
}

.incomes-table__header {
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.incomes-table__header--title {
    display: flex;
    gap: .25rem;
    align-items: center;
}

.incomes-table__header--title > span:first-child {
    font-weight: 200;
    font-size: 1.5rem;
}

.incomes-table__header--title > span:nth-child(2) {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-font-primary);
}

.incomes-table__header--buttons {
    display: flex;
    gap: 1rem;
}

.incomes-table__footer {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.incomes-table__footer-buttons {
    padding-top: 1rem;
    width: 4rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .incomes-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .incomes-table__header {
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
}